body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  border: 1px solid red;
}

#display {
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
}

#container > div {
  display: flex;
}

button {
  width: 50px;
  height: 50px;
  background-color: cyan;
  border-color: red;
}

.bottom > button.zero{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
