body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(212, 242, 252);
}

#container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 375px;
  border: 5px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(65, 63, 63);
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  width: 225px;
  height: 75px;
  font-size: 32px;
  font-weight: 700;
  background-color: rgb(211, 210, 210);
  border-radius: 5px;
}

#container > div {
  display: flex;
}

button {
  width: 75px;
  height: 75px;
  background-color: rgb(2, 185, 185);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

button.num {
  background-color: rgb(108, 216, 180);
}

button.op {
  background-color: rgb(213, 68, 226);
}

button:hover {
  background-color: rgb(247, 195, 54);
}